In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import gc
import time
import os

In [3]:
feat_dir = './feat/'
if not os.path.exists(feat_dir):
    os.mkdir(feat_dir)

In [4]:
train_data = pd.read_pickle('./pkl/train_data.pkl')
test_data = pd.read_pickle('./pkl/valid_data.pkl')

data = pd.concat([train_data, test_data]).reset_index(drop=True)

def pidx(p, ps):
    ans = np.nan
    for i, p2 in enumerate(ps):
        if p == p2:
            ans = i
            break
    return ans

from scipy import spatial
def cos_sim(a, b):
    return 1 - spatial.distance.cosine(a, b)

from tqdm import tqdm_notebook

pub_col = ['abstract', 'keywords', 'title', 'venue', 'authors', 'orgs']
for pc in pub_col:
    print(pc)
    print('load data...')
    pub_info = pd.read_pickle('./embed_bert/pub_info_%s.pkl' % pc)
    author_pub_detail = pd.read_pickle('./embed_bert/author_pub_%s.pkl' % pc)
    pub_info.columns = ['paper_id', pc+'_a']
    author_pub_detail.columns = ['author_id', 'paper_ids', pc+'_b']
    data_c = data.merge(pub_info, 'left', 'paper_id').merge(author_pub_detail, 'left', 'author_id')
    print('find idx...')
    data_c['idx'] = data_c.apply(lambda row: pidx(row['paper_id'], row['paper_ids']) if row['label'] == 1 else np.nan, axis=1)
    display(data_c.head(3))
    print('del...')
    for i in tqdm_notebook(range(len(data_c))):
        if pd.isna(data_c.loc[i, 'idx']):
            continue
        v = list(data_c.loc[i, pc+'_b'])
        del v[data_c.loc[i, 'idx'].astype(int)]
        data_c.set_value(i, pc+'_b', v)
    data_c = data_c[[pc+'_a', pc+'_b']]
    display(data_c.head(3))
    print('cal sim...')
    sims = []
    for ca, cb in tqdm_notebook(data_c.values):
        ss = []
        for b in cb:
            cs = cos_sim(ca, b)
            ss.append(cs)
        if len(ss) == 0:
            ss.append(0)
        sims.append(ss)
#     sims_df = pd.DataFrame(sims, columns=[pc+'_sims'])
    sims_df = pd.DataFrame()
    sims_df[pc+'_sims'] = sims
    display(sims_df.head(3))
    print('yi ba suo ha...')
    sims_df[pc+'_sims_'+'min'] = sims_df[pc+'_sims'].apply(np.min)
    sims_df[pc+'_sims_'+'max'] = sims_df[pc+'_sims'].apply(np.max)
    sims_df[pc+'_sims_'+'mean'] = sims_df[pc+'_sims'].apply(np.mean)
    sims_df[pc+'_sims_'+'std'] = sims_df[pc+'_sims'].apply(np.std)
    sims_df[pc+'_sims_'+'mm2'] = (sims_df[pc+'_sims_'+'min'] + sims_df[pc+'_sims_'+'max']) / 2
    display(sims_df.head(3))
    sims_df[[pc+'_sims_'+'min', pc+'_sims_'+'max', pc+'_sims_'+'mean', pc+'_sims_'+'std', pc+'_sims_'+'mm2']].to_pickle('./feat/%s_sims_st_bert.pkl' % (pc))
    del pub_info, author_pub_detail, data_c, sims, sims_df
    gc.collect()

abstract
load data...
find idx...

,author_id,author_name,author_org,label,paper_id,abstract_a,paper_ids,abstract_b,idx
0,8GjtUmBs,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[0.5850733, -0.38639012, 0.59855425, 0.5159899...",[J5KPOi3Y],"[[-0.8647487, 0.53667474, 0.43480504, 0.001089...",NaN
1,EShnTfSe,li_guo,Institute of Pharmacology and Toxicology,1.0,P9a1gcvg,"[0.5850733, -0.38639012, 0.59855425, 0.5159899...",[P9a1gcvg],"[[0.5850733, -0.38639012, 0.59855425, 0.515989...",0.0
2,t1ruuB9N,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[0.5850733, -0.38639012, 0.59855425, 0.5159899...",[T35c9ZAd],"[[1.121394, 0.5555117, 0.9081003, 0.17780448, ...",NaN

del...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

,abstract_a,abstract_b
0,"[0.5850733, -0.38639012, 0.59855425, 0.5159899...","[[-0.8647487, 0.53667474, 0.43480504, 0.001089..."
1,"[0.5850733, -0.38639012, 0.59855425, 0.5159899...",[]
2,"[0.5850733, -0.38639012, 0.59855425, 0.5159899...","[[1.121394, 0.5555117, 0.9081003, 0.17780448, ..."

cal sim...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

            abstract_sims
0  [0.005643333774060011]
1                     [0]
2    [0.6481732726097107]

yi ba suo ha...

,abstract_sims,abstract_sims_min,abstract_sims_max,abstract_sims_mean,abstract_sims_std,abstract_sims_mm2
0,[0.005643333774060011],0.005643,0.005643,0.005643,0.0,0.005643
1,[0],0.000000,0.000000,0.000000,0.0,0.000000
2,[0.6481732726097107],0.648173,0.648173,0.648173,0.0,0.648173

keywords
load data...
find idx...

,author_id,author_name,author_org,label,paper_id,keywords_a,paper_ids,keywords_b,idx
0,8GjtUmBs,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.0540837, -0.49929222, 0.8620951, 0.6081706...",[J5KPOi3Y],"[[-0.21732491, 0.16166657, 0.8927007, 0.128117...",NaN
1,EShnTfSe,li_guo,Institute of Pharmacology and Toxicology,1.0,P9a1gcvg,"[-0.0540837, -0.49929222, 0.8620951, 0.6081706...",[P9a1gcvg],"[[-0.0540837, -0.49929222, 0.8620951, 0.608170...",0.0
2,t1ruuB9N,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.0540837, -0.49929222, 0.8620951, 0.6081706...",[T35c9ZAd],"[[-0.0067827185, 0.903867, 0.67871475, -0.0273...",NaN

del...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

,keywords_a,keywords_b
0,"[-0.0540837, -0.49929222, 0.8620951, 0.6081706...","[[-0.21732491, 0.16166657, 0.8927007, 0.128117..."
1,"[-0.0540837, -0.49929222, 0.8620951, 0.6081706...",[]
2,"[-0.0540837, -0.49929222, 0.8620951, 0.6081706...","[[-0.0067827185, 0.903867, 0.67871475, -0.0273..."

cal sim...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

          keywords_sims
0  [0.5822271108627319]
1                   [0]
2  [0.5936777591705322]

yi ba suo ha...

,keywords_sims,keywords_sims_min,keywords_sims_max,keywords_sims_mean,keywords_sims_std,keywords_sims_mm2
0,[0.5822271108627319],0.582227,0.582227,0.582227,0.0,0.582227
1,[0],0.000000,0.000000,0.000000,0.0,0.000000
2,[0.5936777591705322],0.593678,0.593678,0.593678,0.0,0.593678

title
load data...
find idx...

,author_id,author_name,author_org,label,paper_id,title_a,paper_ids,title_b,idx
0,8GjtUmBs,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[0.14829586, -0.3416466, 0.32149202, 0.5111360...",[J5KPOi3Y],"[[-0.30822247, 0.7664902, 0.48895568, -0.64471...",NaN
1,EShnTfSe,li_guo,Institute of Pharmacology and Toxicology,1.0,P9a1gcvg,"[0.14829586, -0.3416466, 0.32149202, 0.5111360...",[P9a1gcvg],"[[0.14829586, -0.3416466, 0.32149202, 0.511136...",0.0
2,t1ruuB9N,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[0.14829586, -0.3416466, 0.32149202, 0.5111360...",[T35c9ZAd],"[[-0.069247484, 0.033746295, 0.5316468, -0.236...",NaN

del...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

,title_a,title_b
0,"[0.14829586, -0.3416466, 0.32149202, 0.5111360...","[[-0.30822247, 0.7664902, 0.48895568, -0.64471..."
1,"[0.14829586, -0.3416466, 0.32149202, 0.5111360...",[]
2,"[0.14829586, -0.3416466, 0.32149202, 0.5111360...","[[-0.069247484, 0.033746295, 0.5316468, -0.236..."

cal sim...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

             title_sims
0  [0.3874906301498413]
1                   [0]
2  [0.5177165865898132]

yi ba suo ha...

,title_sims,title_sims_min,title_sims_max,title_sims_mean,title_sims_std,title_sims_mm2
0,[0.3874906301498413],0.387491,0.387491,0.387491,0.0,0.387491
1,[0],0.000000,0.000000,0.000000,0.0,0.000000
2,[0.5177165865898132],0.517717,0.517717,0.517717,0.0,0.517717

venue
load data...
find idx...

,author_id,author_name,author_org,label,paper_id,venue_a,paper_ids,venue_b,idx
0,8GjtUmBs,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.71149194, -0.53670865, 0.9174965, -0.53091...",[J5KPOi3Y],"[[-0.16054878, 0.017416, 0.70596296, -0.840550...",NaN
1,EShnTfSe,li_guo,Institute of Pharmacology and Toxicology,1.0,P9a1gcvg,"[-0.71149194, -0.53670865, 0.9174965, -0.53091...",[P9a1gcvg],"[[-0.71149194, -0.53670865, 0.9174965, -0.5309...",0.0
2,t1ruuB9N,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.71149194, -0.53670865, 0.9174965, -0.53091...",[T35c9ZAd],"[[-0.13513252, 0.24717042, 0.6410622, -0.63363...",NaN

del...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

,venue_a,venue_b
0,"[-0.71149194, -0.53670865, 0.9174965, -0.53091...","[[-0.16054878, 0.017416, 0.70596296, -0.840550..."
1,"[-0.71149194, -0.53670865, 0.9174965, -0.53091...",[]
2,"[-0.71149194, -0.53670865, 0.9174965, -0.53091...","[[-0.13513252, 0.24717042, 0.6410622, -0.63363..."

cal sim...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

             venue_sims
0  [0.5665073990821838]
1                   [0]
2  [0.7127783894538879]

yi ba suo ha...

,venue_sims,venue_sims_min,venue_sims_max,venue_sims_mean,venue_sims_std,venue_sims_mm2
0,[0.5665073990821838],0.566507,0.566507,0.566507,0.0,0.566507
1,[0],0.000000,0.000000,0.000000,0.0,0.000000
2,[0.7127783894538879],0.712778,0.712778,0.712778,0.0,0.712778

authors
load data...
find idx...

,author_id,author_name,author_org,label,paper_id,authors_a,paper_ids,authors_b,idx
0,8GjtUmBs,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.68291205, -0.3545693, 1.0175194, -0.266227...",[J5KPOi3Y],"[[-0.23130979, -0.40350914, 0.65237004, -0.000...",NaN
1,EShnTfSe,li_guo,Institute of Pharmacology and Toxicology,1.0,P9a1gcvg,"[-0.68291205, -0.3545693, 1.0175194, -0.266227...",[P9a1gcvg],"[[-0.68291205, -0.3545693, 1.0175194, -0.26622...",0.0
2,t1ruuB9N,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.68291205, -0.3545693, 1.0175194, -0.266227...",[T35c9ZAd],"[[-0.19042943, -0.34485796, 0.9125688, 0.43477...",NaN

del...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

,authors_a,authors_b
0,"[-0.68291205, -0.3545693, 1.0175194, -0.266227...","[[-0.23130979, -0.40350914, 0.65237004, -0.000..."
1,"[-0.68291205, -0.3545693, 1.0175194, -0.266227...",[]
2,"[-0.68291205, -0.3545693, 1.0175194, -0.266227...","[[-0.19042943, -0.34485796, 0.9125688, 0.43477..."

cal sim...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

           authors_sims
0  [0.8089112043380737]
1                   [0]
2  [0.8410670161247253]

yi ba suo ha...

,authors_sims,authors_sims_min,authors_sims_max,authors_sims_mean,authors_sims_std,authors_sims_mm2
0,[0.8089112043380737],0.808911,0.808911,0.808911,0.0,0.808911
1,[0],0.000000,0.000000,0.000000,0.0,0.000000
2,[0.8410670161247253],0.841067,0.841067,0.841067,0.0,0.841067

orgs
load data...
find idx...

,author_id,author_name,author_org,label,paper_id,orgs_a,paper_ids,orgs_b,idx
0,8GjtUmBs,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.37271369, -0.5907281, 0.47524145, -0.36693...",[J5KPOi3Y],"[[0.83142114, 0.2809167, 0.21847783, -0.387650...",NaN
1,EShnTfSe,li_guo,Institute of Pharmacology and Toxicology,1.0,P9a1gcvg,"[-0.37271369, -0.5907281, 0.47524145, -0.36693...",[P9a1gcvg],"[[-0.37271369, -0.5907281, 0.47524145, -0.3669...",0.0
2,t1ruuB9N,li_guo,Institute of Pharmacology and Toxicology,0.0,P9a1gcvg,"[-0.37271369, -0.5907281, 0.47524145, -0.36693...",[T35c9ZAd],"[[0.09807699, -0.5835178, 0.47167218, -0.36723...",NaN

del...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

,orgs_a,orgs_b
0,"[-0.37271369, -0.5907281, 0.47524145, -0.36693...","[[0.83142114, 0.2809167, 0.21847783, -0.387650..."
1,"[-0.37271369, -0.5907281, 0.47524145, -0.36693...",[]
2,"[-0.37271369, -0.5907281, 0.47524145, -0.36693...","[[0.09807699, -0.5835178, 0.47167218, -0.36723..."

cal sim...

HBox(children=(IntProgress(value=0, max=1647782), HTML(value='')))

              orgs_sims
0  [0.5488908886909485]
1                   [0]
2  [0.5282562375068665]

yi ba suo ha...

,orgs_sims,orgs_sims_min,orgs_sims_max,orgs_sims_mean,orgs_sims_std,orgs_sims_mm2
0,[0.5488908886909485],0.548891,0.548891,0.548891,0.0,0.548891
1,[0],0.000000,0.000000,0.000000,0.0,0.000000
2,[0.5282562375068665],0.528256,0.528256,0.528256,0.0,0.528256